<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <h1>Welcome to Binge Buddy</h1>
    </header>
    <p>Here's some text about what this website is all about.</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'show_list' %}">Show List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'show_create' %}">Create a Show</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <h2>Popular Shows</h2>
      <div class="row">
        {% for show in data %}
        <div class="col-sm-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ show.poster_path }}" alt="{{ show.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ show.name }}</h5>
              <p class="card-text">{{ show.overview }}</p>
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
